
    <!--==========================
        Top Bar
    ============================-->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
          <div class="contact-info float-left">
            <i class="fa fa-envelope-o"></i> <a href="mailto:contact@reyocto.com">contact@reyocto.com</a>
            <i class="fa fa-phone"></i> +91 80 43711222
          </div>
          <div class="social-links float-right">
              <div class="login"><a href="/login" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></div>
          </div>
        </div>
      </section>
    
      <!--==========================
        Header
      ============================-->
      <header id="header">
        <div class="container">
    
          <div id="logo" class="pull-left">
            <img id="body" src="assets/img/logo.jpg" class="testimonial-img" alt="">
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="#body">Home</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#products">Products</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#gallery">Gallery</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </header><!-- #header -->
    
      <!--==========================
        Intro Section
      ============================-->
      <section id="intro">
    
        <div id="intro-carousel" class="owl-carousel">
          <div class="item" style="background-image: url('assets/img/intro-carousel/1.jpg');"></div>
          <div class="item" style="background-image: url('assets/img/intro-carousel/2.jpg');"></div>
        </div>
    
      </section><!-- #intro -->
    
      <main id="main">
    
        <!--==========================
          About Section
        ============================-->
        <section id="about" class="wow fadeInUp">
          <div class="container">
              <div class="section-header">
                  <h2>About Us</h2>
                  <p></p>
                </div>
            <div class="row">
              <div class="col-lg-12 content">
                <h3>At Reyocto, we create IoT solutions for Aquaculture and Agriculture sectors. Our products / solutions bring technology and automation into everyday life of the farmer at an affordable price. All our devices are designed and built to work in demanding Aquaculture/Agriculture environments, enabling you to monitor, manage and control everything from anywhere at anytime, and assist in achieving higher yields, lesser costs and better quality of the produce.</h3>
              </div>
            </div>
    
          </div>
        </section><!-- #about -->
    
        <!--==========================
          Products Section
        ============================-->
        <section id="products">
          <div class="container">
            <div class="section-header">
              <h2>Products</h2>
              <p></p>
            </div>
            <div class="row align-content-center">
                <div class="col-lg-4 col-md-4">
                  <div class="member">
                      <div class="details">
                          <h4>OXYBLU - AUTOMATIC &#8314;</h4>
                      </div>
                  </div>
                  <div class="pic picoverlay">
                    <img src="assets/img/products/AutomaticPlus.JPG" alt="" style="width:75%">
                    <div class="overlay">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                              <div class="box" style="padding:5px;">
                                  <h4 class="title" style="margin-left:0px;">OXYBLU - AUTOMATIC &#8314;</h4>
                                <p class="overlay-p-m-l">OxyBLU Automatic+ is specially designed for Aquaculture farms.</p>
                                <p class="overlay-p-m-l">Custom made for every Customer requirement to withstand the demanding and varying environment of the farms.</p>
                                <p class="overlay-p-m-l">Continuously monitor the pond’s Dissolved Oxygen(DO), pH, Saturation, and Temperature.</p>
                                <p class="overlay-p-m-l">Automatic Aerator control based on Machine learning and other complex algorithms to maintain a healthy DO level in the pond.</p>
                                <p class="overlay-p-m-l">Up-to-date field data updates to the User using our Cloud connected solution.</p>
                                <p class="overlay-p-m-l">On-field and Mobile based Real-time alerts in case of critical DO or pH levels.</p>
                                <p class="overlay-p-m-l">Device Power backup up to 8hrs.</p>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-4">
                    <div class="member">
                        <div class="details">
                            <h4>OXYBLU - STANDARD</h4>
                        </div>
                      <div class="pic picoverlay">
                        <img src="assets/img/products/Standard.JPG" alt="" style="width:75%">
                        <div class="overlay">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                  <div class="box" style="padding:5px;">
                                      <h4 class="title" style="margin-left:0px;">OXYBLU - STANDARD</h4>
                                      <p class="overlay-p-m-l">Our Data logger solutions cater to most of the current industrial requirements for Data logging.</p>
                                      <p class="overlay-p-m-l">Connect up-to 5 Sensors with the on-board 4 channel 4-20mA sensor interface and Industry standard Modbus interface.</p>
                                      <p class="overlay-p-m-l">Measure and Update Sensor data periodically at Configurable read frequencies.</p>
                                      <p class="overlay-p-m-l">Mobile App and Web interface for viewing and reporting for the data.</p>
                                      <p class="overlay-p-m-l">Optional On-field display for viewing data at the field.</p>
                                      <p class="overlay-p-m-l">Highly secure communication from device to server with proprietary communication protocol.</p>
                                      <p class="overlay-p-m-l">Our Stand-alone dataloggers come with in-built storage to retain data up-to 1 year.</p>
                                      <p class="overlay-p-m-l">Battery backup.</p>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-4">
                    <div class="member">
                        <div class="details">
                            <h4>OXYBLU - CONNECT &#8314;</h4>
                        </div>
                      <div class="pic picoverlay">
                        <img src="assets/img/products/ConnectPlus.JPG" alt="" style="width:75%">
                        <div class="overlay">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                  <div class="box" style="padding:5px;">
                                      <h4 class="title" style="margin-left:0px;">OXYBLU - CONNECT &#8314;</h4>
                                      <p class="overlay-p-m-l">Our Data logger solutions cater to most of the current industrial requirements for Data logging.</p>
                                      <p class="overlay-p-m-l">Connect up-to 5 Sensors with the on-board 4 channel 4-20mA sensor interface and Industry standard Modbus interface.</p>
                                      <p class="overlay-p-m-l">Measure and Update Sensor data periodically at Configurable read frequencies.</p>
                                      <p class="overlay-p-m-l">Mobile App and Web interface for viewing and reporting for the data.</p>
                                      <p class="overlay-p-m-l">Optional On-field display for viewing data at the field.</p>
                                      <p class="overlay-p-m-l">Highly secure communication from device to server with proprietary communication protocol.</p>
                                      <p class="overlay-p-m-l">Our Stand-alone dataloggers come with in-built storage to retain data up-to 1 year.</p>
                                      <p class="overlay-p-m-l">Battery backup.</p>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
    
          </div>
        </section><!-- #products -->
    
        <!--==========================
          Services Section
        ============================-->
        <section id="services">
          <div class="container">
            <div class="section-header">
              <h2>Services</h2>
              <p></p>
            </div>
    
            <div class="row">
              <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                  <div class="icon"><i class="fa fa-car"></i></div>
                  <h4 class="title"><a href="">Automotive</a></h4>
                  <p><b>TEST STRATAGIES</b><br>Unit Testing, Polyspace Testing, HIL testing, CAPL Scripting for CANalyzer & CANoe</p>
                  <br>
                  <p><b>SW ENGINEERING</b><br>Requirement Gathering and Analysis, Design, Coding (Manual & Model based), Scripting (python)</p>
                  <br>
                  <p><b>QUALITY PRACTICES</b><br>SO 9001, ASPICE, ISO26262, DRBFM, FMEA, FTA</p>
                  <br>
                  <p><b>TRAINING</b><br>Diesel/Gasoline Engine Basics, 2-Wheeler, HIL System, OHW, Engine Calibration</p>
                  <br>
                  <p><b>HW SERVICES</b><br>PCB Layout Design, Schematic Design, Circuit Simulation and Analysis</p>
                  <br>
                  <p><b>ENGINE CALIBRATION</b><br>Diesel Gasoline 2-Wheeler </p>
                </div>
              </div>
    
              <div class="col-lg-6">
                <div class="box wow fadeInRight">
                  <div class="icon"><i class="fa fa-microchip"></i></div>
                  <h4 class="title"><a href="">Embedded Systems</a></h4>
                  <p>We offer solutions to Connect your existing sensors and dataloggers to the Cloud</p>
                  <br>
                  <p>We offer complete end-to-end services from Concept design to Series Manufacturing</p>
                  <br>
                  <p>Customizations as per client needs to our existing products</p>
                  <br>
                  <p>Company maintained SIM (for IoT devices), no hassle of monthly recharge</p>
                  <br>
                  <p>Flexible server data plans (for IoT device data storage)</p>
                  <br>
                  <p>Mobile App customizations as per the client needs</p>
                  <br>
                  <p>We offer on-field service through our in-house trained service professionals</p>
                </div>
              </div>
            </div>
    
          </div>
        </section><!-- #services -->
    
            <!--==========================
          Our Team Section
        ============================-->
        <section id="team" class="wow fadeInUp">
          <div class="container">
            <div class="section-header">
              <h2>Our Team</h2>
            </div>
            <div class="row align-content-center" style="margin:0px;">
                <div class="col-lg-6 col-md-6">
                    <div class="row align-content-center" style="margin:0px;">
                        <div class="col-lg-6 col-md-6" style="padding:0px;">
                            <div class="member" style="margin-bottom: 0px;">
                              <div class="pic"><img src="assets/img/team-1.jpg" alt="" style="width:100%"></div>
                              <div class="details">
                                <h4>BHANU PRAKASH CHADA</h4>
                                <span>CEO & Co-Founder</span>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6" style="padding:0px;">
                              <div class="member">
                                <div class="details">
                                    <span class="cta-text">21 years of Industry experience in the area of Embedded systems.</span> <br>
                                    <span class="cta-text">Major expertise in Industrial Automation and Automotive domains.</span> <br>
                                    <span class="cta-text">Worked in Research & Development, Product Design & Program Management.</span> <br>
                                    <span class="cta-text">Rich experience in leading large development teams across locations.</span>
                                </div> 
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="row align-content-center" style="margin:0px;">                   
                      <div class="col-lg-6 col-md-6" style="padding:0px;">
                          <div class="member"  style="margin-bottom: 0px;">
                            <div class="pic"><img src="assets/img/team-2.jpg" alt="" style="width:100%"></div>
                            <div class="details">
                              <h4>SUNDEEP BHUPATHIRAJU</h4>
                              <span>COO & Co-Founder</span>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6" style="padding:0px;">
                            <div class="member">
                              <div class="details">
                                  <span class="cta-text">14 years of Industry experience in the area of Automotive Embedded systems and IoT Product development.</span><br>
                                  <span class="cta-text">Worked in Product Design, Research & Development, Projects Acquisition and Management.</span><br>
                                  <span class="cta-text">Rich experience in working with International and Domestic Clients, and leading Multicultural, Multi-location development teams.</span>
                              </div> 
                            </div>
                      </div>
                    </div>
                </div>
            </div>
    
          </div>
        </section><!-- #team -->
    
        <!--==========================
          Our Gallery Section
        ============================-->
        <section id="gallery" class="wow fadeInUp" style="padding-top:60px;">
          <div class="container">
            <div class="section-header">
              <h2>Gallery</h2>
            </div>
          </div>
    
          <div class="container-fluid">
            <div class="row no-gutters">
    
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="portfolio-item wow fadeInUp">
                  <a href="assets/img/gallery/gallery1.jpg" class="portfolio-popup" style="width:100%">
                    <img src="assets/img/gallery/gallery1.jpg" alt="" style="width:100%">
                    <!-- <div class="portfolio-overlay">
                      <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 1</h2></div>
                    </div> -->
                  </a>
                </div>
              </div>
    
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="portfolio-item wow fadeInUp">
                  <a href="assets/img/gallery/gallery2.jpg" class="portfolio-popup" style="width:100%">
                    <img src="assets/img/gallery/gallery2.jpg" alt="" style="width:100%">
                    <!-- <div class="portfolio-overlay">
                      <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 2</h2></div>
                    </div> -->
                  </a>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- #gallery -->
    
        <!--==========================
          Contact Section
        ============================-->
        <section id="contact" class="wow fadeInUp">
          <div class="container">
            <div class="section-header">
              <h2>Contact Us</h2>
              <p>Get in touch and we'll get back to you as soon as we can.  We look forward to hearing from you.</p>
            </div>
    
            <div class="row contact-info">
    
              <div class="col-md-4">
                <div class="contact-address">
                  <i class="ion-ios-location-outline"></i>
                  <h3>Address</h3>
                  <address>Reyocto Agrimation Pvt Ltd <br/>
                    # 11, Chunchaghatta Kothanur Main Road, <br/> 
                    J.P Nagar 7th Phase, Near Maruthi School, <br/>
                    Bangalore -560078</address>
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="contact-phone">
                  <i class="ion-ios-telephone-outline"></i>
                  <h3>Phone Number</h3>
                  <p><a href="tel:+918043711222">+91 80 43711222</a></p>
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="contact-email">
                  <i class="ion-ios-email-outline"></i>
                  <h3>Email</h3>
                  <p><a href="contact@reyocto.com">contact@reyocto.com</a></p>
                </div>
              </div>
    
            </div>
          </div>
    
          <div class="container mb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.5630120098713!2d77.57459794902108!3d12.881911786671308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae155aa6905217%3A0x364adfc3b9323fc9!2sReyocto%20Agrimation%20Pvt%20Ltd!5e0!3m2!1sen!2sus!4v1572717809982!5m2!1sen!2sus" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
    
          <div class="container">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>

            </div>
    
          </div>
        </section><!-- #contact -->
    
      </main>
    
      <!--==========================
        Footer
      ============================-->
      <footer id="footer">
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong>Reyocto</strong>. All Rights Reserved
          </div>
        </div>
      </footer><!-- #footer -->

    
    